.button {
	align-items: center;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	border: none;
	color: var(--color-text-white);
	cursor: pointer;
	display: flex;
	font-size: var(--spacing-md);
	font-weight: 500;
	height: 38px;
	justify-content: center;
	line-height: 1;
	padding: var(--spacing-sm) var(--spacing-md);
	transition: background-color var(--transition-default);
}

.button:hover {
	background-color: var(--color-primary-hover);
}

.button:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--color-primary-hover);
}

.button:disabled {
	background-color: var(--color-secondary);
	cursor: not-allowed;
}

.button[data-is-action="true"] {
	background-color: transparent;
	color: var(--color-text);
	border: 1px solid var(--color-text);
}

.button[data-is-action="true"]:hover {
	background-color: var(--color-text);
	color: var(--color-text-white);
}
