.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-2xl);
}

.image {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
