.container {
	margin: var(--spacing-xl) 0;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-lg);
}

@media (min-width: 1280px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

.filters {
	display: flex;
	gap: var(--spacing-md);
	margin-bottom: var(--spacing-md);
	flex-wrap: wrap;
}

.filters li {
	list-style: none;
}
