.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-md);
}

.featuredCard:nth-child(2n) .image {
	order: 1;
}

.featuredCard:nth-child(2n) .content {
	order: 2;
}

.image {
	position: relative;
}

.card .image {
	aspect-ratio: 1;
}

.featuredCard .image {
	aspect-ratio: 16 / 9;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	align-items: flex-start;
}

.featuredCard .content {
	padding: var(--spacing-md) 0;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-md);
	margin-top: var(--spacing-md);
}
