.container {
	display: flex;
	gap: var(--spacing-sm);
	width: fit-content;
	margin: var(--spacing-xl) auto;
}

.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
